* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

.h-input {
  appearance: none;
}

.h-input-button {
  appearance: none;
}

.hidden-menu > li {
  text-decoration: none;
}

.main-button {
  outline: none;
}

.mini-button {
  appearance: none;
}

.footer-paragraph {
  text-decoration: none;
}